<% layout('layout') -%>

<div class="container">
	<div class="row">		
		<div class="col-md-4">
			<img src="<%= product.image %>">
		</div>		

		<div class="col-md-4">
		</div>	

		<div class="col-md-4">
			<h3><%= product.name %></h3>
			<h2>Product price: <span id="product_price"><%= product.price %></span></h2>

			<form method="post">
				<input type="hidden" name="totalPrice" id="totalPrice" value="<%= product.price %>">
				<input type="hidden" name="quantity" id="quantity" value="1">
				<input type="hidden" name="product_id" id="product_id" value="<%= product._id %>">

				<div class="form-group btn-group" role="group" aria-label="...">
					<button type="button" id="minus" class="btn btn-default">-</button>
					<button type="button" id="count" class="btn btn-default">1</button>
					<button type="button" id="plus" class="btn btn-default">+</button>
				</div>
				<br />

				<div class="form-group">	
					<label>Total price:</label>
					<label name="total" id="total" class="form-control"><%= product.price %></label>
				</div>

				<% if(user) { %>
					<button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
				<% } else { %>
					<a href="/signup" class="btn btn-warning btn-lg">Signup to begin buying</a>
				<% } %>	

			</form>	
		</div>	
		
	</div>
</div>